*{
    box-sizing: border-box;
}
body{
     background-color: orange;  
}

.search-bar{
    margin-bottom:-40px;
    margin-top: 25px;
}

#search{
    display: flex;
    margin: auto;
    width: 50%;
    padding:10px;
    height:50px;
}

.container-main{
    max-width: 1000px;
    display:grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap:25px;
    margin: 6%;
}

img:hover{
    transform:skewX(10deg);
    transition:transform .25s;
}

#search:focus{
    border-color: black;
    border-width:10px;
}